StudentWebApplication/src/conf/xml-resources/web-services/StudentWebService/wsdl/projekt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.ttu.ee/idu0075/2015/ws/Subject"
	targetNamespace="http://www.ttu.ee/idu0075/2015/ws/Subject">
	<wsdl:types>
		<xs:schema  targetNamespace="http://www.ttu.ee/idu0075/2015/ws/Subject" elementFormDefault="qualified">
			<xs:complexType name ="StudentType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="firstName" type="xs:string"/>
					<xs:element name="lastName" type="xs:string"/>
					<xs:element name="studentCode" type="xs:string"/>
					<xs:element name="programme" type="xs:string"/>
					<xs:element name="age" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="SubjectStudentType">
				<xs:sequence>
					<xs:element name="Student" type="tns:StudentType"/>
					<xs:element name="Grade" type="xs:double"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="SubjectStudentListType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="SubjectStudent" type="tns:SubjectStudentType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="SubjectType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="subjectName" type="xs:string"/>
					<xs:element name="subjectCode" type="xs:string"/>
					<xs:element name="teacher" type="xs:string"/>
					<xs:element name="assessmentType" type="xs:string"/>
					<xs:element name="credits" type="xs:integer"/>
					<xs:element name="SubjectStudentList" type="tns:SubjectStudentListType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getStudentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getStudentResponse" type="tns:StudentType"/>
			<xs:element name="addStudentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="firstName" type="xs:string"/>
						<xs:element name="lastName" type="xs:string"/>
						<xs:element name="studentCode" type="xs:string"/>
						<xs:element name="programme" type="xs:string"/>
						<xs:element name="age" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addStudentResponse" type="tns:StudentType"/>
			<xs:element name="getStudentListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getStudentListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Student" type="tns:StudentType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectResponse" type="tns:SubjectType"/>
			<xs:element name="addSubjectRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="subjectName" type="xs:string"/>
						<xs:element name="subjectCode" type="xs:string"/>
						<xs:element name="teacher" type="xs:string"/>
						<xs:element name="assessmentType" type="xs:string"/>
						<xs:element name="credits" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSubjectResponse" type="tns:SubjectType"/>
			<xs:element name="getSubjectListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element minOccurs="0" name="hasRelatedStudents">
						  <xs:simpleType>
							<xs:restriction base="xs:string">
							  <xs:pattern value="jah|ei"/>
							</xs:restriction>
						  </xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" type="tns:SubjectType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectStudentListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="SubjectId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectStudentListResponse" type="tns:SubjectStudentListType"/>
			<xs:element name="addSubjectStudentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="SubjectId" type="xs:integer"/>
						<xs:element name="StudentId" type="xs:integer"/>
						<xs:element name="Grade" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSubjectStudentResponse" type="tns:SubjectStudentType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getStudentMessageRequest">
		<wsdl:part name="parameter" element="tns:getStudentRequest"/>
	</wsdl:message>
	<wsdl:message name="getStudentMessageResponse">
		<wsdl:part name="parameter" element="tns:getStudentResponse"/>
	</wsdl:message>
	<wsdl:message name="addStudentMessageRequest">
		<wsdl:part name="parameter" element="tns:addStudentRequest"/>
	</wsdl:message>
	<wsdl:message name="addStudentMessageResponse">
		<wsdl:part name="parameter" element="tns:addStudentResponse"/>
	</wsdl:message>
	<wsdl:message name="getStudentListMessageRequest">
		<wsdl:part name="parameter" element="tns:getStudentListRequest"/>
	</wsdl:message>
	<wsdl:message name="getStudentListMessageResponse">
		<wsdl:part name="parameter" element="tns:getStudentListResponse"/>
	</wsdl:message>
	<wsdl:message name="getSubjectMessageRequest">
		<wsdl:part name="parameter" element="tns:getSubjectRequest"/>
	</wsdl:message>
	<wsdl:message name="getSubjectMessageResponse">
		<wsdl:part name="parameter" element="tns:getSubjectResponse"/>
	</wsdl:message>
	<wsdl:message name="addSubjectMessageRequest">
		<wsdl:part name="parameter" element="tns:addSubjectRequest"/>
	</wsdl:message>
	<wsdl:message name="addSubjectMessageResponse">
		<wsdl:part name="parameter" element="tns:addSubjectResponse"/>
	</wsdl:message>
	<wsdl:message name="getSubjectListMessageRequest">
		<wsdl:part name="parameter" element="tns:getSubjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getSubjectListMessageResponse">
		<wsdl:part name="parameter" element="tns:getSubjectListResponse"/>
	</wsdl:message>
	<wsdl:message name="getSubjectStudentListMessageRequest">
		<wsdl:part name="parameter" element="tns:getSubjectStudentListRequest"/>
	</wsdl:message>
	<wsdl:message name="getSubjectStudentListMessageResponse">
		<wsdl:part name="parameter" element="tns:getSubjectStudentListResponse"/>
	</wsdl:message>
	<wsdl:message name="addSubjectStudentMessageRequest">
		<wsdl:part name="parameter" element="tns:addSubjectStudentRequest"/>
	</wsdl:message>
	<wsdl:message name="addSubjectStudentMessageResponse">
		<wsdl:part name="parameter" element="tns:addSubjectStudentResponse"/>
	</wsdl:message>
	<wsdl:portType name="SubjectPortType">
		<wsdl:operation name="getStudent">
			<wsdl:input message="tns:getStudentMessageRequest"/>
			<wsdl:output message="tns:getStudentMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addStudent">
			<wsdl:input message="tns:addStudentMessageRequest"/>
			<wsdl:output message="tns:addStudentMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStudentList">
			<wsdl:input message="tns:getStudentListMessageRequest"/>
			<wsdl:output message="tns:getStudentListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSubject">
			<wsdl:input message="tns:getSubjectMessageRequest"/>
			<wsdl:output message="tns:getSubjectMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addSubject">
			<wsdl:input message="tns:addSubjectMessageRequest"/>
			<wsdl:output message="tns:addSubjectMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSubjectList">
			<wsdl:input message="tns:getSubjectListMessageRequest"/>
			<wsdl:output message="tns:getSubjectListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSubjectStudentList">
			<wsdl:input message="tns:getSubjectStudentListMessageRequest"/>
			<wsdl:output message="tns:getSubjectStudentListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addSubjectStudent">
			<wsdl:input message="tns:addSubjectStudentMessageRequest"/>
			<wsdl:output message="tns:addSubjectStudentMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubjectBinding" type="tns:SubjectPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getStudent">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addStudent">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStudentList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSubject">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSubject">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSubjectList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSubjectStudentList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSubjectStudent">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubjectService">
		<wsdl:port name="SubjectPort" binding="tns:SubjectBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
